<div
  class="todo-list-card"
  [ngStyle]="{
    opacity: data?.checked ? '0.3' : '1',
    background:
      data === selectedList
        ? 'var(--teal-transparent)'
        : 'var(--blue-transparent)',
    border:
      data === selectedList
        ? '1px dotted var(--teal)'
        : '1px dotted var(--blue)'
  }">
  <p class="todo-list-card__name">{{ data.name }}</p>
  <div class="todo-list-card__controls">
    <button
      class="todo-list-card__button"
      (click)="onCheckTask(data)"
      *ngIf="cardType === 'task'">
      <fa-icon class="todo-list-card__button-icon" [icon]="faCheck"></fa-icon>
    </button>
    <button class="todo-list-card__button" (click)="onEdit(data)">
      <fa-icon
        class="todo-list-card__button-icon"
        [icon]="faPenToSquare"></fa-icon>
    </button>
    <button class="todo-list-card__button" (click)="onDelete(data)">
      <fa-icon class="todo-list-card__button-icon" [icon]="faTrash"></fa-icon>
    </button>
  </div>
</div>
