@use '../../../../../scss/abstracts' as *;

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 2rem;
  margin-bottom: 1.5rem;
  color: $color-white;
  background-color: $color-primary-transparent;
  box-shadow: $box-shadow;
  border: 1px dotted $color-grey;
  font-size: 1.6rem;
  font-weight: 500;
  transition: all 0.3s ease-in;
}

button {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  transition: all 0.3s ease-in;
  cursor: pointer;

  &:hover {
    color: $color-grey;
  }

  &:not(:last-child) {
    margin-right: 1rem;
  }
}

.checked {
  opacity: 0.3;
}

.selected {
  color: $color-black;
  background: $color-secondary-transparent;
  border: 1px dotted $color-white;
}
