@use '../../../../scss/abstracts' as *;

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  @include respond(sm) {
    justify-content: flex-start;
    padding: 4.5rem 0;
  }
}

.heading {
  margin-bottom: 2rem;
  font-size: 5rem;
  letter-spacing: 2px;
  font-family: 'Odibee Sans', cursive;
}

.container {
  display: flex;
  width: 80%;
  min-height: 70rem;
  background-image: linear-gradient(
      to right bottom,
      $color-primary-transparent,
      $color-secondary-transparent
    ),
    url('./../../../../assets/images/todo-list/todo-list-background.png');
  background-position: center center;
  background-size: cover;
  border-radius: 5px;
  box-shadow: $box-shadow;

  @include respond(sm) {
    flex-direction: column;
    width: 95%;
    min-height: 100vh;
  }
}

.container-heading {
  margin: 2rem 0;
  padding-bottom: 1rem;
  border-bottom: 1px dashed $color-white;
  color: $color-white;
  font-size: 3rem;
  letter-spacing: 2px;
  font-family: 'Odibee Sans', cursive;
  text-align: center;
}

.container-left {
  position: relative;
  width: 25%;
  padding: 0 1rem;
  border-right: 1px dashed $color-white;

  @include respond(sm) {
    width: 100%;
    padding-bottom: 5.5rem;
    margin-bottom: 2rem;
    border-right: none;
    border-bottom: 1px solid $color-white;
  }
}

.container-right {
  position: relative;
  flex: auto;
  padding: 0 1rem;

  @include respond(sm) {
    width: 100%;
    border-right: none;
  }
}

.wrapper {
  cursor: pointer;
}

.add-form {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  display: flex;
  margin-top: auto;
  border: 2px solid $color-primary;
  transform: translateX(-50%);

  box-shadow: $box-shadow;
}

.add-form-input {
  padding: 1rem 2rem;
  width: 15rem;
  color: $color-white;
  background-color: $color-tertiary-transparent;
  border: none;
  font-size: 1.6rem;

  &::placeholder {
    color: $color-white;
  }

  &:focus {
    outline: none;
  }
}

.add-form-button {
  width: 4rem;
  background-color: $color-primary;
  border: none;
  border-left: 1px solid $color-primary;
  font-size: 2rem;
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  fa-icon {
    color: $color-white;
    z-index: 5;
  }
}

.no-category {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;

  @include respond(sm) {
    width: 100%;
    text-align: center;
  }
}
