<main *ngIf="!isLoading">
  <h1 class="heading">Task manager</h1>
  <div class="container">
    <div class="container-left">
      <h2 class="container-heading">Lists</h2>
      <div
        class="wrapper"
        (click)="selectList(todoList)"
        *ngFor="let todoList of todoLists">
        <knb-portfolio-todo-list-card
          [@fadeInAnimation]
          (editItem)="onEditItemEvent($event)"
          cardType="list"
          [selectedList]="selectedList"
          (selectedListDelete)="changeSelectedList()"
          [cardData]="todoList"></knb-portfolio-todo-list-card>
      </div>
      <form class="add-form" [formGroup]="addListForm" (ngSubmit)="addList()">
        <input
          formControlName="listName"
          type="text"
          class="add-form-input"
          placeholder="Add list..." />
        <button
          class="add-form-button"
          type="submit"
          [disabled]="!addListForm.get('listName').valid">
          <fa-icon [icon]="faPlus"></fa-icon>
        </button>
      </form>
    </div>
    <div class="container-right">
      <h2 class="container-heading">Tasks</h2>
      <p class="no-category" *ngIf="!todoLists.length && selectedList">
        Lists not yet added? Create one first.
      </p>
      <div class="wrapper" *ngIf="todoLists.length && selectedList">
        <knb-portfolio-todo-list-card
          [@fadeInAnimation]
          (editItem)="onEditItemEvent($event)"
          cardType="task"
          *ngFor="let task of selectedList.tasks"
          [cardData]="task"></knb-portfolio-todo-list-card>
      </div>
      <form
        class="add-form"
        [formGroup]="addTaskForm"
        (ngSubmit)="addTask()"
        *ngIf="todoLists.length">
        <input
          formControlName="taskName"
          type="text"
          class="add-form-input"
          placeholder="Add list..." />
        <button
          class="add-form-button"
          type="submit"
          [disabled]="!addTaskForm.get('taskName').valid">
          <fa-icon [icon]="faPlus"></fa-icon>
        </button>
      </form>
    </div>
  </div>
</main>
<knb-portfolio-modal>
  <knb-portfolio-todo-list-edit
    [editedItem]="editedItem"></knb-portfolio-todo-list-edit>
</knb-portfolio-modal>
<knb-portfolio-spinner *ngIf="isLoading"></knb-portfolio-spinner>
