<section class="hero">
  <div class="header">
    <h1 class="heading pay-api-h1-large">
      Start building with our APIs for absolutely free.
    </h1>
    <div class="group">
      <input type="email" class="input" placeholder="Enter email address" />
      <button class="pay-api-button-primary">Schedule a Demo</button>
    </div>
    <a href="#" class="contact pay-api-paragraph"
      >Have any question? <span class="contact-span">Contact Us</span></a
    >
  </div>
  <img
    src="../../../../../../assets/images/pay-api/home/desktop/illustration-phone-mockup.svg"
    alt=""
    class="mobile-img" />
  <img
    src="../../../../../../assets/images/pay-api/shared/desktop/bg-pattern-circle.svg"
    alt=""
    class="background-img" />
</section>
