@use '../../../scss/abstracts' as *;

.wrapper {
  position: relative;
  margin-bottom: 20rem;
}

.scroll-button {
  position: absolute;
  top: 50%;
  right: 2rem;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  text-orientation: upright;
  direction: rtl;

  @include respond(sm) {
    top: 2rem;
    letter-spacing: 1px;
    writing-mode: horizontal-tb;
  }
}
