@use '../../../../scss/abstracts' as *;

.loading-spinner {
  width: 100px;
  height: 100px;

  background-color: $color-primary;
  border-radius: 12px;
  animation: loading 2s linear infinite;
  margin: 0 auto;
}

@keyframes loading {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }

  50% {
    transform: rotateX(0deg) rotateY(180deg);
  }

  100% {
    transform: rotateX(180deg) rotateY(180deg);
  }
}
