@use '../../../scss/abstracts' as *;

.logo {
  font-family: 'Odibee Sans', cursive;
  font-size: 34px;
  color: $color-secondary;
  animation-name: flashingLetter;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes flashingLetter {
  100% {
    color: $color-white;
  }
}
