<section class="who-we-work-with">
  <div class="container">
    <h1 class="heading pay-api-h2">Who we work with</h1>
    <p class="text pay-api-paragraph">
      Today, millions of people around the world have successfully connected
      their accounts to apps they love using our API. We provide developers with
      the tools they need to create easy and accessible experiences for their
      users.
    </p>
    <button class="button pay-api-button-secondary">About Us</button>
  </div>
  <div class="icons">
    <img
      src="../../../../../../assets/images/pay-api/shared/desktop/tesla.svg"
      alt="Icon"
      class="icon" />
    <img
      src="../../../../../../assets/images/pay-api/shared/desktop/microsoft.svg"
      alt="Icon"
      class="icon" />
    <img
      src="../../../../../../assets/images/pay-api/shared/desktop/hewlett-packard.svg"
      alt="Icon"
      class="icon" />
    <img
      src="../../../../../../assets/images/pay-api/shared/desktop/oracle.svg"
      alt="Icon"
      class="icon" />
    <img
      src="../../../../../../assets/images/pay-api/shared/desktop/google.svg"
      alt="Icon"
      class="icon" />
    <img
      src="../../../../../../assets/images/pay-api/shared/desktop/nvidia.svg"
      alt="Icon"
      class="icon" />
  </div>
  <img
    src="../../../../../../assets/images/pay-api/shared/desktop/bg-pattern-circle.svg"
    alt=""
    class="background-img" />
</section>
