form {
  display: flex;
  flex-direction: column;
}

h1 {
  margin-bottom: 2rem;
  color: var(--teal);
  font-size: 2.4rem;
  font-weight: 400;
  text-transform: capitalize;
}

input {
  margin-bottom: 4rem;
  padding: 1rem 2rem;
  border: 1px dotted var(--teal);
  color: var(--text);
  background-color: transparent;
  font-size: 1.6rem;

  &:focus {
    outline: none;
  }
}

button:not(:last-child) {
  margin-bottom: 1.5rem;
}
