$color-white: #ffffff;
$color-white-transparent: #ffffff81;
$color-black: #222222;
$color-grey: #95a3b3;
$color-grey-light: #e0e5e4;
$color-primary: #4b4e6d;
$color-primary-transparent: #4b4e6dd5;
$color-secondary: #84dcc6;
$color-secondary-transparent: #84dcc6dc;
$color-tertiary: #1fddff;
$color-red: #e22200;

$font-family: 'Roboto', sans-serif;

$box-shadow: 0px 0.3px 1px rgba(0, 0, 0, 0.056),
  0px 0.7px 2.3px rgba(0, 0, 0, 0.081), 0px 1.3px 4.4px rgba(0, 0, 0, 0.1),
  0px 2.2px 7.8px rgba(0, 0, 0, 0.119), 0px 4.2px 14.6px rgba(0, 0, 0, 0.144),
  0px 10px 35px rgba(0, 0, 0, 0.2);
