@import '../../../../scss/mixins';

.works-card {
  width: 37rem;
  min-height: 70rem;
  padding: 2rem;
  box-shadow: 0 0 20px -15px var(--blue);
  border-radius: 5px;
  overflow: hidden;

  @include respond(sm) {
    width: 100%;
  }

  &__title {
    color: var(--blue);
    margin-bottom: 2rem;
    font-size: 2.4rem;
  }

  &__image {
    margin-bottom: 1rem;
  }

  &__description {
    margin-bottom: 2rem;
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 0.5px;
  }

  &__links {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
  }

  &__icon {
    margin-right: 5px;
  }

  &__link-demo {
    padding: 1rem 2rem;
    color: var(--surface);
    font-size: 1.6rem;
    background-color: var(--blue);
  }
}
