@use '../../../../scss/abstracts' as *;

.card {
  display: flex;
  flex-direction: column;
  width: 37rem;
  min-height: 71rem;
  padding: 2rem;
  box-shadow: $box-shadow;
  border-radius: 5px;
  overflow: hidden;
  background-color: $color-white-transparent;

  @include respond(sm) {
    width: 100%;
  }
}

.title {
  margin-bottom: 2rem;
  color: $color-primary;
}

.image {
  margin-bottom: 2rem;
  border-radius: 5px;
}

.description {
  font-size: 1.6rem;
  font-weight: 4;
  line-height: 1.8rem;
  letter-spacing: 0.5px;
}

.links {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

.icon {
  margin-right: 5px;
}
