@use '../../../../scss/abstracts' as *;

.card {
  display: flex;
  flex-direction: column;
  width: 37rem;
  min-height: 70rem;
  padding: 2rem;
  box-shadow: 0 0 25px var(--color-blue-transparent);
  border-radius: 5px;
  overflow: hidden;

  @include respond(sm) {
    width: 100%;
  }
}

.title {
  color: var(--color-teal);
  margin-bottom: 2rem;
  font-size: 2.4rem;
}

.image {
  margin-bottom: 1rem;
}

.description {
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.5px;
}

.links {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

.link {
  font-size: 1.6rem;
}

.icon {
  margin-right: 5px;
}

.link-demo {
  padding: 1rem 2rem;
  color: var(--color-surface);
  font-size: 1.6rem;
  background-color: var(--color-blue);
}
