@import '../../../../scss/mixins';

.card {
  display: flex;
  align-items: center;
  min-height: 100vh;

  @include respond(sm) {
    padding-top: 2rem;
  }

  @include respond(lg) {
    flex-direction: column;
  }
}

.card-left {
  width: 50%;
  padding: 5rem;

  @include respond(sm) {
    padding: 0;
  }

  @include respond(lg) {
    width: 100%;
  }
}

.card-title {
  margin-bottom: 2.5rem;
  color: var(--color-teal);
  font-family: 'Odibee Sans', cursive;
  font-size: 6rem;

  &-span {
    color: var(--color-text-primary);
  }
}

.card-description {
  color: var(--color-text-primary);
  font-size: 1.6rem;
  line-height: 2.6rem;
}

.card-button {
  margin-top: 5rem;
  font-size: 1.6rem;
}

.icons-container {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;

  @include respond(sm) {
    margin-top: 2rem;
  }
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 7rem;
  margin-bottom: 2rem;
  color: var(--color-teal);

  &:not(:last-child) {
    margin-right: 0.5rem;
  }
}

.icon-image {
  width: 3.5rem;
  height: 3.5rem;
  margin-bottom: 0.9rem;
}

.icon-name {
  color: var(--color-text-primary);
  font-size: 1.4rem;
}

.illustration-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;

  @include respond(lg) {
    width: 100%;
  }
}

.illustration {
  width: 50%;
  border-radius: 10px;
  box-shadow: 0 0 25px var(--color-blue-transparent);

  @include respond(sm) {
    margin-top: 3rem;
    width: 80%;
  }
}
