@use '../../../../scss/abstracts' as *;

.card {
  display: flex;
  align-items: center;
  min-height: 100vh;
  padding: 0 1rem;
  background-size: cover;
  background-repeat: no-repeat;

  &:nth-child(1) {
    margin-top: 8rem;
  }

  @include respond(sm) {
    padding-top: 2rem;
    background-position: 25%;
  }

  @include respond(lg) {
    flex-direction: column;
  }
}

.card-left {
  width: 50%;
  padding: 5rem;

  @include respond(sm) {
    padding: 0;
  }

  @include respond(lg) {
    width: 100%;
  }
}

.card-title {
  margin-bottom: 2.4rem;
}

.card-description {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: $color-white;
}

.card-button {
  margin-top: 4rem;
}

.icons-container {
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;

  @include respond(sm) {
    margin-top: 2rem;
  }
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 7rem;
  margin-bottom: 1rem;
  color: $color-primary;

  &:not(:last-child) {
    margin-right: 0.5rem;
  }
}

.icon-name {
  font-size: 1.6rem;
  color: $color-white;
}

.illustration-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;

  @include respond(lg) {
    width: 100%;
  }
}

.illustration {
  width: 70%;
  box-shadow: $box-shadow;
  border-radius: 5px;
  background-size: cover;
  aspect-ratio: 1 / 1;

  @include respond(sm) {
    margin-top: 5rem;
    width: 100%;
  }
}
