<main
  class="card"
  [style.background-image]="
    'url(../../../../assets/images/about-me-page/' + data.backgroundImage + ')'
  ">
  <div class="card-left">
    <p
      class="card-title heading-primary"
      data-aos="fade-right"
      data-aos-duration="1000">
      {{ data.title }} <span class="card-title-span">{{ data.titleSpan }}</span>
    </p>
    <p
      class="card-description"
      data-aos="fade-right"
      data-aos-duration="1000"
      data-aos-delay="300">
      {{ data.description }}
    </p>
    <a
      class="card-button button-secondary"
      data-aos="fade-up"
      data-aos-duration="300"
      data-aos-delay="900"
      *ngIf="data.isButton"
      [routerLink]="data.buttonUrl"
      >{{ data.buttonText }}</a
    >
    <ul *ngIf="data.isIcons" class="icons-container">
      <li
        class="icon"
        data-aos="fade-right"
        data-aos-duration="300"
        data-aos-delay="900">
        <fa-icon class="icons__icon fa-fw fa-4x" [icon]="faHtml5"></fa-icon>
        <p class="icon-name">HTML5</p>
      </li>
      <li
        class="icon"
        data-aos="fade-right"
        data-aos-duration="300"
        data-aos-delay="1000">
        <fa-icon class="icons__icon fa-fw fa-4x" [icon]="faCss3Alt"></fa-icon>
        <p class="icon-name">CSS3</p>
      </li>
      <li
        class="icon"
        data-aos="fade-right"
        data-aos-duration="300"
        data-aos-delay="1100">
        <fa-icon class="icons__icon fa-fw fa-4x" [icon]="faSass"></fa-icon>
        <p class="icon-name">SASS</p>
      </li>
      <li
        class="icon"
        data-aos="fade-right"
        data-aos-duration="300"
        data-aos-delay="1200">
        <fa-icon class="icons__icon fa-fw fa-4x" [icon]="faSquareJs"></fa-icon>
        <p class="icon-name">JavaScript</p>
      </li>
      <li
        class="icon"
        data-aos="fade-right"
        data-aos-duration="300"
        data-aos-delay="1300">
        <fa-icon class="icons__icon fa-fw fa-4x" [icon]="faAngular"></fa-icon>
        <p class="icon-name">Angular</p>
      </li>

      <li
        class="icon"
        data-aos="fade-right"
        data-aos-duration="300"
        data-aos-delay="1400">
        <fa-icon class="icons__icon fa-fw fa-4x" [icon]="faGit"></fa-icon>
        <p class="icon-name">Git</p>
      </li>
      <li
        class="icon"
        data-aos="fade-right"
        data-aos-duration="300"
        data-aos-delay="1500">
        <fa-icon class="icons__icon fa-fw fa-4x" [icon]="faGithub"></fa-icon>
        <p class="icon-name">Github</p>
      </li>
      <li
        class="icon"
        data-aos="fade-right"
        data-aos-duration="300"
        data-aos-delay="1600">
        <fa-icon class="icons__icon fa-fw fa-4x" [icon]="faNodeJs"></fa-icon>
        <p class="icon-name">NodeJs</p>
      </li>
    </ul>
  </div>
  <div class="illustration-wrapper">
    <img
      [src]="'../../../../assets/images/about-me-page/' + data.imgSrc"
      alt="Illustration"
      class="illustration"
      data-aos="fade-left"
      data-aos-duration="1000"
      data-aos-delay="600" />
  </div>
</main>
