<div class="landing-intro">
  <div class="landing-intro__left">
    <p
      class="landing-intro__greet"
      data-aos="fade-right"
      data-aos-duration="500">
      Hello, I'm
    </p>
    <p
      class="landing-intro__my-name"
      data-aos="fade-left"
      data-aos-duration="500"
      data-aos-delay="500">
      Keresztes<span class="landing-intro__my-name-span">-</span>Nagy Bence
    </p>
    <p
      class="landing-intro__profession"
      data-aos="fade-right"
      data-aos-duration="500"
      data-aos-delay="1000">
      front-end developer.
    </p>

    <div
      class="landing-intro__wrapper"
      data-aos="fade-up"
      data-aos-duration="500"
      data-aos-delay="1500">
      <a routerLink="about-me" class="landing-intro__link primary-button"
        ><fa-icon class="landing-intro__icon" [icon]="faUser"></fa-icon>About
        me</a
      >
      <a routerLink="contact" class="landing-intro__link secondary-button"
        ><fa-icon class="landing-intro__icon" [icon]="faPhone"></fa-icon
        >Contact</a
      >
    </div>
  </div>
  <div class="landing-intro__right">
    <img
      src="../../../../assets/images/landing-illustration-01.png"
      alt="Illustration"
      class="landing-intro__illustration"
      data-aos="fade-down-left"
      data-aos-duration="500"
      data-aos-delay="2000" />
  </div>
</div>
