<div
  class="navbar"
  [@slideInAndOutFromTopAnimation]="isNavbarHidden"
  *ngIf="!isDemoMode">
  <knb-portfolio-logo></knb-portfolio-logo>
  <p class="hamburger-button" (click)="toggleNavbar()">
    <fa-icon [icon]="faBars"></fa-icon>
  </p>
  <nav
    [@slideInAndOutFromLeftAnimation]="isNavbarOpen"
    [ngStyle]="{ right: isNavbarOpen ? '0' : '-100%' }">
    <p class="close-button" (click)="toggleNavbar()">
      <fa-icon [icon]="faXmark"></fa-icon>
    </p>
    <ul class="list">
      <li class="list-item">
        <a
          routerLink="about-me"
          class="list-link underline"
          (click)="toggleNavbar()"
          ><fa-icon [icon]="faUser"></fa-icon> About me</a
        >
      </li>
      <li class="list-item">
        <a
          routerLink="works"
          class="list-link underline"
          (click)="toggleNavbar()"
          ><fa-icon [icon]="faSheetPlastic"></fa-icon> Works</a
        >
      </li>
      <li class="list-item">
        <a
          routerLink="contact"
          class="list-link underline"
          (click)="toggleNavbar()"
          ><fa-icon [icon]="faPhone"></fa-icon> Contact</a
        >
      </li>
      <li class="list-item">
        <a
          href="../../../assets/Keresztes-Nagy-Bence-CV.pdf"
          download
          class="secondary-button"
          (click)="toggleNavbar()"
          >Resume</a
        >
      </li>
    </ul>
    <div class="social-container">
      <a
        href="https://www.linkedin.com/in/bence-keresztes-nagy-aba1a024b/"
        target="_blank"
        ><fa-icon [icon]="faLinkedin"></fa-icon
      ></a>
      <a href="https://github.com/Telrodan" target="_blank"
        ><fa-icon [icon]="faGithub"></fa-icon
      ></a>
    </div>
  </nav>
</div>
