<div class="navbar" *ngIf="!isDemoMode">
  <knb-portfolio-logo></knb-portfolio-logo>
  <p class="hamburger-button" (click)="toggleNavbar()">
    <fa-icon [icon]="faBars"></fa-icon>
  </p>
  <nav
    [@slideInAndOutAnimation]="isNavbarOpen"
    [ngStyle]="{ right: isNavbarOpen ? '0' : '-100%' }">
    <p class="close-button" (click)="toggleNavbar()">
      <fa-icon [icon]="faXmark"></fa-icon>
    </p>
    <ul class="list">
      <li class="list-item">
        <a routerLink="about-me" class="underline" (click)="toggleNavbar()"
          >About me</a
        >
      </li>
      <li class="list-item">
        <a routerLink="works" class="underline" (click)="toggleNavbar()"
          >Works</a
        >
      </li>
      <li class="list-item">
        <a routerLink="contact" class="underline" (click)="toggleNavbar()"
          >Contact</a
        >
      </li>
    </ul>
    <div class="social-container">
      <a
        href="https://www.linkedin.com/in/bence-keresztes-nagy-aba1a024b/"
        target="_blank"
        ><fa-icon [icon]="faLinkedin"></fa-icon
      ></a>
      <a href="https://github.com/Telrodan" target="_blank"
        ><fa-icon [icon]="faGithub"></fa-icon
      ></a>
    </div>
  </nav>
</div>
