@use '../../../scss/abstracts' as *;

.navbar-container {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 2rem 3rem;
  background-color: $color-black;
  box-shadow: $box-shadow;
  border-bottom: 1px solid $color-white;
  z-index: 5;
}

.hamburger-button {
  display: none;
  margin-left: auto;
  color: $color-white;
  background-color: transparent;
  border: none;
  font-size: 3rem;

  @include respond(sm) {
    display: inline-block;
  }
}

.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 5;

  @include respond(sm) {
    position: absolute;
    top: 0;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
    background-color: $color-black;
    border-left: 2px solid $color-secondary;

    &--open {
      right: 0;
    }

    &--closed {
      right: -100%;
    }
  }
}

.close-button {
  position: absolute;
  top: 2rem;
  right: 3rem;
  background-color: transparent;
  border: none;
  font-size: 3rem;

  fa-icon {
    display: none;
    color: $color-white;

    @include respond(sm) {
      display: inline-block;
    }
  }
}

.list {
  display: flex;
  align-items: center;
  margin-left: 10rem;

  @include respond(sm) {
    flex-direction: column;
    width: 100%;
    margin: auto 0;
    text-align: center;
  }
}

.list-item:not(:last-child) {
  margin-right: 6rem;

  @include respond(sm) {
    margin: 0 0 3rem 0;
  }
}

.list-link {
  @include respond(sm) {
    font-size: 2.2rem;
  }
}

.social-container {
  margin-left: auto;

  @include respond(sm) {
    margin: 0 auto 20rem;
  }

  fa-icon {
    font-size: 3rem;
    color: $color-white;

    @include respond(sm) {
      font-size: 4rem;
    }
  }

  a:not(:last-child) {
    margin-right: 1.5rem;

    @include respond(sm) {
      margin-right: 3rem;
    }
  }
}
