@import '../../../scss/mixins';

.navbar {
  display: flex;
  align-items: center;
  max-width: 100%;
  padding: 2rem 3rem;
  background-color: var(--color-surface);
  border-bottom: 1px solid var(--color-border);
}

.hamburger-button {
  display: none;
  margin-left: auto;
  color: var(--color-teal);
  font-size: 3rem;

  @include respond(sm) {
    display: inline-block;
  }
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 5;

  @include respond(sm) {
    position: absolute;
    top: 0;
    right: 0;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
    background-color: var(--color-surface);
    border-left: 2px solid var(--color-teal);
  }
}

.close-button {
  position: absolute;
  top: 2rem;
  right: 3rem;
  font-size: 4rem;

  fa-icon {
    display: none;
    color: var(--color-text-primary);

    @include respond(sm) {
      display: inline-block;
    }
  }
}

.list {
  display: flex;
  margin-left: 10rem;

  @include respond(sm) {
    flex-direction: column;
    width: 100%;
    margin: auto 0;
    text-align: center;
  }
}

.list-item:not(:last-child) {
  margin-right: 5rem;

  @include respond(sm) {
    margin: 0 0 3rem 0;
  }
}

.list-link {
  font-size: 1.8rem;

  @include respond(sm) {
    font-size: 3rem;
  }
}

.social-container {
  margin-left: auto;

  @include respond(sm) {
    margin: 0 auto 20rem;
  }

  fa-icon {
    font-size: 2.5rem;
    color: var(--color-text-primary);

    @include respond(sm) {
      font-size: 5rem;
    }
  }

  a:not(:last-child) {
    margin-right: 1.5rem;

    @include respond(sm) {
      margin-right: 3rem;
    }
  }
}
