@use '../../../../scss/abstracts' as *;

.works-demo {
  min-height: 100vh;
}

.back {
  position: absolute;
  left: 50%;
  padding: 1rem 2rem;
  color: $color-white;
  background-color: $color-black;
  font-size: 1.6rem;
  font-weight: 500;
  transform: translateX(-50%);
  border-left: 1px solid $color-white;
  border-right: 1px solid $color-white;
  border-bottom: 1px solid $color-white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 30;
}
