@use '../../../scss/abstracts/' as *;

.contact-me {
  min-height: 100vh;
  padding: 0 1rem;
  background-image: url('../../../assets/images/contact-page/contact-background.svg');
  background-size: cover;
  background-repeat: no-repeat;

  @include respond(sm) {
    background-position: center;
  }
}

.heading {
  padding: 12rem 0 5rem;
  text-align: center;

  @include respond(sm) {
    padding: 12rem 0 3rem;
  }
}

.container {
  display: flex;
  justify-content: center;

  @include respond(sm) {
    flex-direction: column;
  }
}

.illustration {
  width: 35%;
  margin-right: 5rem;
  box-shadow: $box-shadow;
  border-radius: 5px;
  background-image: url('../../../assets/images/contact-page/contact-illustration-01.jpg');
  background-size: cover;
  background-position: center;
  aspect-ratio: 1 / 1;

  @include respond(sm) {
    width: 80%;
    margin: 0 auto 3rem;
    background-image: url('../../../assets/images/contact-page/contact-illustration-01-mobile.jpg');
  }
}

.details {
  display: flex;
  flex-direction: column;
  width: 30%;

  @include respond(sm) {
    width: 100%;
  }
}

.link {
  margin-bottom: 1.5rem;
}

.link,
.address {
  color: $color-primary;
  font-size: 1.8rem;

  fa-icon {
    margin-right: 1rem;
  }
}

.form {
  margin-top: auto;

  @include respond(sm) {
    margin: 3rem 0;
  }
}

.message-sent {
  margin-top: 5rem;
  color: $color-primary;
}

.loading-spinner-container {
  margin-top: 5rem;
}
