@use '../../../scss/abstracts/' as *;

.contact-me {
  min-height: 100vh;
  padding: 0 2rem;
  background-image: url('../../../assets/images/contact-page/background.svg');
  background-size: cover;
  background-repeat: no-repeat;

  @include respond(sm) {
    background-position: center;
  }
}

.heading {
  padding: 12rem 0 5rem;
  color: $color-white;

  @include respond(sm) {
    padding: 12rem 0 3rem;
  }
}

.container {
  display: flex;
  justify-content: center;

  @include respond(sm) {
    flex-direction: column;
  }
}

.illustration {
  width: 35%;
  margin-right: 5rem;
  box-shadow: $box-shadow;
  border-radius: 5px;

  @include respond(sm) {
    width: 60%;
    margin: 0 auto 3rem;
  }
}

.details {
  display: flex;
  flex-direction: column;
  width: 30%;

  @include respond(sm) {
    width: 100%;
  }
}

.link {
  margin-bottom: 1.5rem;
}

.link,
.address {
  color: $color-black;
  font-size: 1.8rem;
  font-weight: 500;

  fa-icon {
    margin-right: 1rem;
  }
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: auto;

  @include respond(sm) {
    margin: 3rem 0;
  }
}

.form-group {
  margin-bottom: 1rem;
}

.form-input,
.form-textarea {
  padding: 1rem 1.2rem;
  margin-bottom: 5px;
  width: 100%;
  background-color: transparent;
  box-shadow: $box-shadow;
  border: 1px solid $color-white;
  font-size: 1.6rem;
  transition: all 0.3s ease-in;

  &:focus {
    outline: none;
    border: 1px solid $color-black;
  }

  &::placeholder {
    color: $color-white;
  }
}

.form-textarea {
  resize: none;
}

.form-helper {
  font-size: 1.4rem;
  color: $color-red;
}

.form-button {
  margin-top: 1rem;
}

.message-sent {
  margin-top: 5rem;
  color: $color-primary;
}

.loading-spinner-container {
  margin-top: 5rem;
}
