@import '../../../scss/mixins';

.heading {
  margin: 3rem 0;
}

.container {
  display: flex;
  justify-content: center;

  @include respond(sm) {
    flex-direction: column;
  }
}

.illustration {
  width: 35%;
  margin-right: 5rem;
  box-shadow: 0 0 25px var(--color-blue-transparent);
  border-radius: 5px;

  @include respond(sm) {
    width: 60%;
    margin: 0 auto 3rem;
  }
}

.details {
  display: flex;
  flex-direction: column;
  width: 30%;

  @include respond(sm) {
    width: 100%;
  }
}

.link {
  margin-bottom: 1.5rem;
}

.link,
.address {
  color: var(--color-text-primary);
  font-size: 1.8rem;

  fa-icon {
    margin-right: 1rem;
  }
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: auto;

  @include respond(sm) {
    margin: 3rem 0;
  }
}

.form-group {
  margin-bottom: 1rem;
}

.form-input,
.form-textarea {
  padding: 1rem 1.2rem;
  margin-bottom: 5px;
  width: 100%;
  color: var(--color-text-primary);
  background-color: transparent;
  border: 1px solid var(--color-teal);
  font-size: 1.6rem;
  transition: all 0.3s ease-in;

  &:focus {
    outline: none;
    border: 1px solid var(--color-blue);
  }

  &::placeholder {
    color: var(--color-text-secondary);
  }
}

.form-textarea {
  resize: none;
}

.form-helper {
  font-size: 1.4rem;
  color: var(--color-red);
}

.form-button {
  margin-top: 1rem;
  font-size: 1.6rem;
}

.message-sent {
  margin-top: 5rem;
}

.loading-spinner-container {
  margin-top: 5rem;
}
