<main class="contact-me" *ngIf="!isLoading">
  <h1
    class="primary-heading heading"
    data-aos="fade-right"
    data-aos-duration="500">
    Contact me
  </h1>
  <div class="container">
    <img
      src="../../../assets/images/contact-illustration-01.png"
      alt="Contact"
      class="illustration"
      data-aos="fade-right"
      data-aos-duration="500"
      data-aos-delay="300" />
    <div class="details">
      <a
        href="tel:+36300837077"
        class="link"
        data-aos="fade-left"
        data-aos-duration="500"
        data-aos-delay="600"
        ><fa-icon [icon]="faPhone"></fa-icon>+36/30-083-70-77</a
      >
      <a
        href="mailto:keresztesnagybence@gmail.com"
        class="link"
        data-aos="fade-left"
        data-aos-duration="500"
        data-aos-delay="900"
        ><fa-icon [icon]="faInbox"></fa-icon>keresztesnagybence@gmail.com</a
      >
      <p
        class="address"
        data-aos="fade-left"
        data-aos-duration="500"
        data-aos-delay="1200">
        <fa-icon [icon]="faLocationDot"></fa-icon> Szentes, Hungary
      </p>
      <form
        data-aos="fade-up"
        data-aos-duration="500"
        data-aos-delay="1500"
        class="form"
        [formGroup]="contactForm"
        (submit)="onSendMessage()"
        *ngIf="!isMessageSent">
        <div class="form-group">
          <input
            class="form-input"
            type="text"
            placeholder="Name"
            formControlName="name" />
          <p
            class="form-helper"
            *ngIf="
              !contactForm.get('name').valid && contactForm.get('name').dirty
            ">
            Please enter a valid name.
          </p>
        </div>
        <div class="form-group">
          <input
            class="form-input"
            type="email"
            placeholder="Email"
            formControlName="email" />
          <p
            class="form-helper"
            *ngIf="
              !contactForm.get('email').valid && contactForm.get('email').dirty
            ">
            Please enter a valid email address.
          </p>
        </div>
        <div class="form-group">
          <textarea
            class="form-textarea"
            rows="16"
            placeholder="Message"
            formControlName="message"></textarea>
          <p
            class="form-helper"
            *ngIf="
              !contactForm.get('message').valid &&
              contactForm.get('message').dirty
            ">
            Please enter a message.
          </p>
        </div>
        <button class="form-button primary-button" type="submit">
          <fa-icon [icon]="faPaperPlane"></fa-icon> Send message
        </button>
      </form>

      <h1
        class="message-sent primary-heading"
        *ngIf="isMessageSent && !isError">
        Message Sent!
      </h1>
      <h1 class="message-sent primary-heading" *ngIf="isMessageSent && isError">
        An error occurred!
      </h1>
    </div>
  </div>
</main>
<knb-portfolio-spinner *ngIf="isLoading"></knb-portfolio-spinner>
