<main class="contact-me">
  <h1 class="primary-heading heading">Contact me</h1>
  <div class="container">
    <div class="container-left">
      <a href="mailto:keresztesnagybence@gmail.com" class="link"
        ><fa-icon [icon]="faInbox"></fa-icon> keresztesnagybence@gmail.com</a
      >
      <a href="tel:+36300837077" class="link"
        ><fa-icon [icon]="faPhone"></fa-icon> +36/30-083-70-77</a
      >
      <p class="address">
        <fa-icon [icon]="faLocationDot"></fa-icon> Szentes, Hungary
      </p>
    </div>
  </div>
</main>
