<main class="landing" *ngIf="!isLoading">
  <div class="landing-left">
    <h2
      class="landing-greet heading-secondary"
      data-aos="fade-right"
      data-aos-duration="500">
      Hello, I'm
    </h2>
    <h1
      class="landing-my-name heading-primary"
      data-aos="fade-left"
      data-aos-duration="500"
      data-aos-delay="500">
      Keresztes<span class="landing-my-name-span">-</span>Nagy Bence
    </h1>
    <p
      class="landing-profession heading-secondary"
      data-aos="fade-right"
      data-aos-duration="500"
      data-aos-delay="1000">
      front-end developer.
    </p>

    <div
      class="links-container"
      data-aos="fade-up"
      data-aos-duration="500"
      data-aos-delay="1500">
      <a routerLink="about-me" class="landing-link button-primary">About me</a>
      <a
        href="../../../assets/Keresztes-Nagy-Bence-CV.pdf"
        download
        class="landing-link button-secondary"
        >Resume</a
      >
    </div>
  </div>
  <div class="landing-right">
    <div
      class="illustration"
      data-aos="fade-up"
      data-aos-duration="500"
      data-aos-delay="2000"></div>
  </div>
</main>
<knb-portfolio-spinner *ngIf="isLoading"></knb-portfolio-spinner>
