<main class="landing">
  <div class="landing-left">
    <p class="landing-greet" data-aos="fade-right" data-aos-duration="500">
      Hello, I'm
    </p>
    <p
      class="landing-my-name"
      data-aos="fade-left"
      data-aos-duration="500"
      data-aos-delay="500">
      Keresztes<span class="landing-my-name-span">-</span>Nagy Bence
    </p>
    <p
      class="landing-profession"
      data-aos="fade-right"
      data-aos-duration="500"
      data-aos-delay="1000">
      front-end developer.
    </p>

    <div
      class="container"
      data-aos="fade-up"
      data-aos-duration="500"
      data-aos-delay="1500">
      <a routerLink="about-me" class="landing-link primary-button"
        ><fa-icon [icon]="faUser"></fa-icon>About me</a
      >
      <a routerLink="contact" class="landing-link secondary-button"
        ><fa-icon [icon]="faPhone"></fa-icon>Contact</a
      >
    </div>
  </div>
  <div class="landing-right">
    <img
      src="../../../../assets/images/landing-illustration-01.png"
      alt="Illustration"
      class="landing-illustration"
      data-aos="fade-up"
      data-aos-duration="500"
      data-aos-delay="2000" />
  </div>
</main>

<knb-portfolio-spinner *ngIf="isLoading"></knb-portfolio-spinner>
