@use '../../../scss/abstracts' as *;

.landing {
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow-x: hidden;
  background-image: url('../../../assets/images/landing-page/landing-background.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;

  @include respond(sm) {
    flex-direction: column;
    background-position: bottom center;
  }
}

.landing-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-top: 8rem;

  @include respond(sm) {
    width: 100%;
    margin: 5rem 0 8rem;
  }
}

.landing-my-name {
  margin-bottom: 0.5rem;
  color: $color-white;

  &-span {
    color: $color-black;
  }
}

.links-container {
  margin-top: 3rem;
}

.landing-link {
  &:not(:last-child) {
    margin-right: 5rem;
  }
}

.landing-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;

  @include respond(md) {
    width: 100%;
  }
}

.landing-illustration {
  width: 70%;
  box-shadow: $box-shadow;
  border-radius: 5px;

  @include respond(xl) {
    width: 60%;
  }
}
