@use '../../../scss/abstracts' as *;

.landing {
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow-x: hidden;

  @include respond(sm) {
    flex-direction: column;
  }
}

.landing-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  font-family: 'Odibee Sans', cursive;
  text-align: center;

  @include respond(sm) {
    width: 100%;
    margin: 5rem 0 8rem;
  }
}

.landing-greet,
.landing-profession {
  color: $color-black;
  font-size: 4.4rem;

  @include respond(sm) {
    font-size: 3.4rem;
  }
}

.landing-my-name {
  margin-bottom: 0.5rem;
  color: $color-white;
  font-size: 5.5rem;

  @include respond(sm) {
    font-size: 4.4rem;
  }

  &-span {
    color: $color-black;
  }
}

.links-container {
  margin-top: 3rem;
}

.landing-link {
  &:not(:last-child) {
    margin-right: 5rem;
  }
}

.landing-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;

  @include respond(md) {
    width: 100%;
  }
}

.landing-illustration {
  width: 70%;
  box-shadow: $box-shadow;

  @include respond(xl) {
    width: 60%;
  }
}
