.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;

  .spinner {
    width: 350px;
    height: 3px;
    background-color: white;
    animation: line 1s infinite alternate;
  }

  .loading-text {
    margin-top: 2rem;
    font-size: 1.8rem;
    color: var(--text);
  }
}

@keyframes line {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }

  45% {
    transform: scaleX(1);
    transform-origin: left;
  }

  50% {
    transform: scaleX(1);
    transform-origin: right;
  }

  100% {
    transform: scaleX(0);
    transform-origin: right;
  }
}
