@import '../../../../scss/mixins';

.modal {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  z-index: 500;
}

.modal-content {
  position: relative;
  padding: 3rem 4rem;
  background-color: var(--color-surface);
  border-radius: 5px;
  box-shadow: 0 0 5px -2px var(--color-blue);

  @include respond(sm) {
    width: 90%;
  }
}

button {
  position: absolute;
  top: 3rem;
  right: 3rem;
  color: var(--color-text-primary);
  background-color: transparent;
  border: none;
  font-size: 4rem;
  cursor: pointer;
}
