:root {
  /* PORTFOLIO */
  --font-family: 'Roboto', sans-serif;
  --color-black: #1d1c26;
  --color-white: #f2f2f2;
  --color-red: #e6543b;
  --color-surface: #0a192f;
  --color-border: #9199b1;
  --color-teal: #64ffda;
  --color-blue: #37d0ff;
  --color-teal-transparent: #30aaa02d;
  --color-blue-transparent: #37d0ff28;
  --color-text-primary: #ccd6f6;
  --color-text-secondary: #8892b0;
  --gradient-1: #1e1e1eee;
  --gradient-2: #414141e8;

  /* PAY API */
  --pay-api-color-background: #edf3f8;
  --pay-api-color-dark-pink: #ba4270;
  --pay-api-color-white: #fbfcfe;
  --pay-api-color-juan-blue: #36536b;
  --pay-api-color-light-juan-blue: #6c8294;
  --pay-api-color-blue: #1b262f;
  --pay-api-color-pink: #da6d97;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
    url('./fonts/roboto-v20-latin-ext_latin-regular.woff2') format('woff2'),
    url('./fonts/roboto-v20-latin-ext_latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin-ext_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'),
    url('./fonts/roboto-v20-latin-ext_latin-500.woff2') format('woff2'),
    url('./fonts/roboto-v20-latin-ext_latin-500.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin-ext_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
    url('./fonts/roboto-v20-latin-ext_latin-700.woff2') format('woff2'),
    url('./fonts/roboto-v20-latin-ext_latin-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
