:root {
  --font-family: 'Roboto', sans-serif;
  --surface: #1e1e1e;
  --surface-secondary: #414141;
  --border: hsla(0, 0%, 100%, 0.122);
  --teal: #30aa9f;
  --blue: #4baaf5;
  --teal-transparent: #30aaa02d;
  --blue-transparent: #4babf541;
  --text: rgba(255, 255, 255, 0.87);

  --gradient-1: #1e1e1eec;
  --gradient-2: #414141e0;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
    url('./fonts/roboto-v20-latin-ext_latin-regular.woff2') format('woff2'),
    url('./fonts/roboto-v20-latin-ext_latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin-ext_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'),
    url('./fonts/roboto-v20-latin-ext_latin-500.woff2') format('woff2'),
    url('./fonts/roboto-v20-latin-ext_latin-500.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin-ext_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
    url('./fonts/roboto-v20-latin-ext_latin-700.woff2') format('woff2'),
    url('./fonts/roboto-v20-latin-ext_latin-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
