// PORTFOLIO
.primary-button {
  display: inline-block;
  padding: 1rem 2rem;
  color: var(--surface);
  background-color: var(--teal);
  border: 2px solid transparent;
  outline: 2px solid transparent;
  outline-offset: -2px;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    outline: 2px solid var(--teal);
    outline-offset: 3px;
    color: var(--text);
  }
}

.primary-button-dotted {
  display: inline-block;
  padding: 1rem 2rem;
  color: var(--text);
  background-color: transparent;
  border: 1px dotted var(--teal);
  font-size: 1.6rem;
  cursor: pointer;
}

.secondary-button {
  display: inline-block;
  padding: 1rem 2rem;
  color: var(--surface);
  background-color: var(--blue);
  border: 2px solid transparent;
  outline: 2px solid transparent;
  outline-offset: -2px;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    outline: 2px solid var(--blue);
    outline-offset: 3px;
    color: var(--text);
  }
}

.secondary-button-dotted {
  display: inline-block;
  padding: 1rem 2rem;
  color: var(--text);
  background-color: transparent;
  border: 1px dotted var(--blue);
  font-size: 1.6rem;
  cursor: pointer;
}

// PAY-API
.pay-api-button-primary {
  padding: 1.3rem 2rem;
  color: var(--pay-api-color-white);
  background-color: var(--pay-api-color-dark-pink);
  border: 0;
  border-radius: 500px;
  font-family: 'Public Sans', sans-serif;
  font-weight: 600;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    opacity: 0.75;
  }

  &:disabled {
    opacity: 0.5;
  }
}

.pay-api-button-secondary {
  padding: 1.3rem 2rem;
  color: var(--pay-api-color-white);
  background-color: var(--pay-api-color-blue);
  border: 1px solid var(--pay-api-color-white);
  border-radius: 500px;
  font-family: 'Public Sans', sans-serif;
  font-weight: 600;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    color: var(--pay-api-color-blue);
    background-color: var(--pay-api-color-white);
  }

  &:disabled {
    opacity: 0.5;
  }
}
