@import 'mixins';

// PORTFOLIO
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
// font-family: 'Odibee Sans', cursive;

// PAY-API
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
// font-family: 'DM Serif Display', serif;
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700&display=swap'); // font-family: 'Public Sans', sans-serif;
// font-family: 'Public Sans', sans-serif;

html {
  color: var(--color-text-primary);
  font-size: 10px;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;

  @include respond(sm) {
    font-size: 8px;
  }
}

// PORTFOLIO
.primary-heading {
  letter-spacing: 2px;
  color: var(--color-teal);
  font-size: 4rem;
  font-family: 'Odibee Sans', cursive;
  font-weight: 400;
  text-align: center;
}

// PAY-API
.pay-api-h1-large {
  font-size: 7.2rem;
  line-height: 7.2rem;
  font-family: 'DM Serif Display', serif;
}

.pay-api-h1-small {
  font-size: 5.6rem;
  line-height: 5.6rem;
  font-family: 'DM Serif Display', serif;
}

.pay-api-h2 {
  font-size: 4.8rem;
  line-height: 5.6rem;
  font-family: 'DM Serif Display', serif;
}

.pay-api-h3-big {
  font-size: 3.2rem;
  line-height: 4rem;
  font-family: 'DM Serif Display', serif;
}

.pay-api-h3-small {
  font-size: 1.8rem;
  line-height: 2.5rem;
  font-family: 'Public Sans', sans-serif;
}

.pay-api-h4 {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-family: 'DM Serif Display', serif;
}

.pay-api-paragraph {
  font-size: 1.5rem;
  line-height: 2.8rem;
  font-family: 'Public Sans', sans-serif;
}
