@use './abstracts' as *;

// PORTFOLIO
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
// font-family: 'Odibee Sans', cursive;

// PAY-API
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
// font-family: 'DM Serif Display', serif;
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700&display=swap'); // font-family: 'Public Sans', sans-serif;
// font-family: 'Public Sans', sans-serif;

html {
  color: $color-black;
  font-size: 10px;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;

  @include respond(sm) {
    font-size: 9px;
  }
}

// PORTFOLIO
.heading-primary,
.heading-secondary,
.heading-tertiary {
  margin: 0;
  font-family: 'Odibee Sans', cursive;
  font-weight: 400;
}

.heading-primary {
  font-size: 5.5rem;
  line-height: 5.7rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 4.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 3.2rem;
}

// PAY-API
.pay-api-h1-large {
  font-size: 7.2rem;
  line-height: 7.2rem;
  font-family: 'DM Serif Display', serif;
}

.pay-api-h1-small {
  font-size: 5.6rem;
  line-height: 5.6rem;
  font-family: 'DM Serif Display', serif;
}

.pay-api-h2 {
  font-size: 4.8rem;
  line-height: 5.6rem;
  font-family: 'DM Serif Display', serif;
}

.pay-api-h3-big {
  font-size: 3.2rem;
  line-height: 4rem;
  font-family: 'DM Serif Display', serif;
}

.pay-api-h3-small {
  font-size: 1.8rem;
  line-height: 2.5rem;
  font-family: 'Public Sans', sans-serif;
}

.pay-api-h4 {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-family: 'DM Serif Display', serif;
}

.pay-api-paragraph {
  font-size: 1.5rem;
  line-height: 2.8rem;
  font-family: 'Public Sans', sans-serif;
}
