<section class="simple-ui">
  <div class="container">
    <h1 class="heading pay-api-h2">Simple UI & UX</h1>
    <p class="text pay-api-paragraph">
      Our pre-built form is easy to integrate in your app or website’s checkout
      flow and designed to optimize conversion.
    </p>
  </div>
  <img
    src="../../../../../../assets/images/pay-api/home/desktop/illustration-simple-ui.svg"
    alt="UI"
    class="ui-img" />
  <img
    src="../../../../../../assets/images/pay-api/shared/desktop/bg-pattern-circle.svg"
    alt=""
    class="background-img" />
</section>
