<main class="works" *ngIf="!isLoading">
  <h1
    class="heading primary-heading"
    data-aos="fade-down"
    data-aos-duration="500">
    Web Development Journey: A Showcase of My Skills and Experiences
  </h1>
  <div
    class="container"
    data-aos="zoom-in"
    data-aos-delay="400"
    data-aos-duration="500">
    <knb-portfolio-works-card
      *ngFor="let work of works"
      [work]="work"></knb-portfolio-works-card>
  </div>
</main>
<knb-portfolio-spinner *ngIf="isLoading"></knb-portfolio-spinner>
