@use '../../../scss/abstracts' as *;

.works {
  padding: 0 2rem;
  background-image: url('../../../assets/images/works-page/background.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  min-height: 100vh;
}

.heading {
  padding: 12rem 0 5rem;
  color: $color-white;

  @include respond(sm) {
    padding: 12rem 0 3rem;
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 37rem);
  justify-content: center;
  width: 80%;
  column-gap: 10rem;
  row-gap: 7rem;
  margin: 0 auto 5rem;

  @include respond(sm) {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 0;

    width: 100%;
  }
}
