@import '../../../scss/mixins';

.works {
  &__heading {
    margin: 5rem 0 10rem;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 37rem);
    justify-content: center;
    width: 80%;
    column-gap: 10rem;
    row-gap: 7rem;
    margin: 0 auto;

    @include respond(sm) {
      display: flex;
      flex-direction: column;
      align-items: center;
      column-gap: 0;
      width: 100%;
    }
  }
}
