@import '../../../scss/mixins';

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20rem;
  padding: 4rem;
  background-color: var(--surface);
  border-top: 2px solid var(--border);
  font-size: 16px;

  @include respond(sm) {
    align-items: flex-start;
    height: auto;
  }

  &__list {
    display: flex;

    @include respond(sm) {
      flex-direction: column;
      order: 2;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 8rem;

      @include respond(sm) {
        margin: 0 0 2rem;
      }
    }
  }

  &__link,
  &__legal-link {
    position: relative;
    color: var(--text);
    transition: all 0.4s ease;
    padding-bottom: 0.5rem;
    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0;
      background: var(--text);
      transition: transform 0.4s ease;
      transform: scale(0, 1);
      transform-origin: right center;
    }

    &:hover:before {
      transform: scale(1, 1);
      transform-origin: left center;
    }

    .footer__icon {
      margin-right: 0.5rem;
    }
  }

  &__socials {
    margin-top: 4rem;

    @include respond(sm) {
      flex-direction: column;
      order: 3;
    }
  }

  &__socials-link {
    position: relative;
    border-radius: 500px;
    font-size: 2.5rem;
    z-index: 1;

    @include respond(sm) {
      margin-left: 1rem;
    }

    &:before {
      content: '';
      position: absolute;
      width: 5rem;
      height: 5rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: var(--surface-secondary);
      border-radius: 500px;
      z-index: -1;
    }

    &:not(:last-child) {
      margin-right: 4rem;
    }
  }

  &__socials-icon {
    color: var(--text);
  }

  &__legal {
    position: absolute;
    right: 3rem;
    bottom: 2rem;
    color: var(--text);

    @include respond(sm) {
      position: static;
      margin-top: 3rem;
      order: 4;
    }
  }

  &__logo {
    position: absolute;
    left: 3rem;
    bottom: 2rem;

    @include respond(sm) {
      position: static;
      margin-bottom: 2rem;
      order: 1;
    }
  }
}
