<footer *ngIf="!isDemoMode">
  <ul class="list">
    <li class="list-item">
      <a routerLink="about-me" class="list-link underline"
        ><fa-icon class="underline-icon" [icon]="faUser"></fa-icon>About me</a
      >
    </li>
    <li class="list-item">
      <a routerLink="works" class="list-link underline"
        ><fa-icon class="underline-icon" [icon]="faSheetPlastic"></fa-icon
        >Works</a
      >
    </li>
    <li class="list-item">
      <a routerLink="contact" class="list-link underline"
        ><fa-icon class="underline-icon" [icon]="faPhone"></fa-icon>Contact</a
      >
    </li>
  </ul>
  <div class="social-container">
    <a
      class="social-link"
      href="https://www.linkedin.com/in/bence-keresztes-nagy-aba1a024b/"
      target="_blank"
      ><fa-icon [icon]="faLinkedin"></fa-icon
    ></a>
    <a class="social-link" href="https://github.com/Telrodan" target="_blank"
      ><fa-icon [icon]="faGithub"></fa-icon
    ></a>
  </div>
  <div class="logo">
    <knb-portfolio-logo></knb-portfolio-logo>
  </div>
</footer>
