<nav class="pay-api-navbar">
  <img
    src="../../../../../assets/images/pay-api/shared/desktop/logo.svg"
    alt="Logo"
    class="pay-api-navbar__logo" />
  <ul class="pay-api-navbar__list">
    <li class="pay-api-navbar__item">
      <a routerLink="pricing" class="pay-api-navbar__link">Pricing</a>
    </li>
    <li class="pay-api-navbar__item">
      <a routerLink="pricing" class="pay-api-navbar__link">About</a>
    </li>
    <li class="pay-api-navbar__item">
      <a routerLink="pricing" class="pay-api-navbar__link">Contact</a>
    </li>
  </ul>
  <button class="pay-api-navbar__button pay-api-button-primary">
    Schedule a Demo
  </button>
</nav>
