.navbar {
  display: flex;
  align-items: center;
  padding: 4rem 16rem;
}

.logo {
  margin-right: 4rem;
}

.list {
  display: flex;
  align-items: center;
}

.item:not(:last-child) {
  margin-right: 4rem;
}

.link {
  color: var(--pay-api-color-juan-blue);
  font-size: 1.5rem;
  font-weight: 700;
}

.button {
  margin-left: auto;
}
