<nav class="navbar">
  <img
    src="../../../../../assets/images/pay-api/shared/desktop/logo.svg"
    alt="Logo"
    class="logo" />
  <ul class="list">
    <li class="item">
      <a routerLink="pricing" class="link">Pricing</a>
    </li>
    <li class="item">
      <a routerLink="pricing" class="link">About</a>
    </li>
    <li class="item">
      <a routerLink="pricing" class="link">Contact</a>
    </li>
  </ul>
  <button class="button pay-api-button-primary">Schedule a Demo</button>
</nav>
